<div class="">
    <h2 class="reportTitle">Compte rendu {{fec.file.name}}</h2>
</div>
<div class="reportFeedback">
    <p class="feedbackTitle">Structure du fichier :</p>
    <p>{{fec.reportControllFile.headerColumns}}</p>
</div>
<div class="reportFeedback">
    <p class="feedbackTitle">Structure des écritures comptables :</p>
    <p *ngIf="fec.reportControllContent.searchEmptyNumPiece.length">{{fec.reportControllContent.searchEmptyNumPiece}}</p>
    <p *ngIf="fec.reportControllContent.searchAlonePieceIsolateDate.length">{{fec.reportControllContent.searchAlonePieceIsolateDate}}</p>
    <p *ngIf="fec.reportControllContent.checkDatesColumns.length">{{fec.reportControllContent.checkDatesColumns}}</p>
    <p *ngIf="fec.reportControllContent.checkBalancePiece.length">{{fec.reportControllContent.checkBalancePiece}}</p>
    <p *ngIf="
        fec.reportControllContent.searchEmptyNumPiece.length! && 
        fec.reportControllContent.searchAlonePieceIsolateDate.length! &&
        fec.reportControllContent.checkDatesColumns.length! &&
        fec.reportControllContent.checkBalancePiecelength!
    ">
        La strucutre de vos écritures comptables sont correctes.
    </p>
</div>
