
<loaderIcon width="1.5rem" *ngIf="!loaded"/>
<fileIcon *ngIf="loaded"/>

<div class="content">
    <div class="details">
        <span class="name">{{fec.file.name.length <= 24?fec.file.name : fec.file.name.slice(0,24) + "(...)" }}</span>
        <span class="percent">{{loaded?100:percentLoaded}}%</span>
    </div>
    <progress #progressLoaded max="100" [value]="loaded?100:percentLoaded" class="progress progress-bar">{{percentLoaded}}%</progress>
</div>
<div class="contentOptions">
    <button #btn class="btn" (click)="listenerButtonUploader(fec.file.name, fec.workbook)">
        <span>Télécharger</span>
        <uploadIcon class="uploadIcon"/>
    </button>
    <deleteIcon width="1rem" (click)="removeFec()" class="deleteIcon"/>
</div>

