.footer {
    text-align: center;
    align-items: center;
    padding:2rem;
    background-color: var(--colorBlueDark);
    color: var(--colorWhite);
    margin-top:2rem;
}
.footer p {
    margin-bottom:1rem;
}
.footer a {
    text-decoration: none;
    transition: 500ms ease-in-out;
}
.footer a:hover {
    color: var(--colorRedStrong);
}
@media (max-width: 630px) {
    .footer {
        margin-top:0rem;
    }
}