<section class="fileSection">
    <form #form method="post" action="/test" id="formFile" (click)="findFile()">
        <header>File uploader JavaScript</header>
        <i class='bx bx-cloud-download'></i>
        <label for="inputFile">
            <input #file id="inputFile" type="file" accept=".txt, .csv" hidden (change)="getFile()">
        </label>
        <button hidden id="btn">Envoyer</button>
    </form>
    <ul *ngIf="this.fecs.length > 0" class="progress-area">
        <li *ngFor="let fec of this.fecs"  >
            <app-data-fec-file [fec]="fec"/>
        </li>
    </ul>
    <button (click)="testButton()">Click</button>
    <p *ngIf="errorTypeFile.length > 0" class="errorTypeFile">{{errorTypeFile}}</p>
</section>

<section class="reportSection">
    <aside *ngIf="fec && fec.file" class="reportContainer ">
        <div class="reportFeedback">
            <h2 class="reportContainer--h2">Compte rendu {{fec.file.name}}</h2>
        </div>
        <div class="reportFeedback1">
            <p>Structure du fichier :</p>
            <p></p>
            
        </div>
        <div class="reportFeedback2"></div>
    </aside>
</section>
