<section class="fileSection">
    <form #form method="post" action="/test" id="formFile" (click)="findFile()">
        <header>Sélectionner votre fichier</header>
        <i class='bx bx-cloud-download bx-lg' ></i>
        <label for="inputFile">
            <input #file id="inputFile" type="file" accept=".txt" hidden [disabled]="isLoading$ | async" (change)="getFile(file)">
        </label>
        <button hidden id="btn">Envoyer</button>
    </form>
    
    <ul *ngIf="this.fecs.length > 0" class="progress-area">
        <li *ngFor="let fec of this.fecs; let i = index">
            <app-tag-fec [fec]="fec" [indexFec]="i" class="row" (click)="selectedFec($event, i)"/>
        </li>
    </ul>
    <p *ngIf=" this.errorTypeFile.length" class="errorTypeFile">{{this.errorTypeFile}}</p>
</section>

<section *ngIf="this.fec && this.fec.file && this.fecs.length" @appearReport class="reportContainer">
    <div>
        <h2 class="reportTitle">Compte rendu {{this.fec.file.name}}</h2>
    </div>
    <div class="reportContent">
        <app-data-report-fec [fec]="this.fec"/>
        <app-glossary-report-fec class="glossary"/>
    </div>
</section>
