

.fileSection{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width:60%;
    max-width:35rem;
    margin: 7rem auto;
    gap:1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.8rem;
    box-shadow:5px 5px 15px 5px rgb(205, 205, 205);
    padding:1rem;
    transition: .4s ease-in-out;
  }

.reportContainer {
  margin-bottom: 7rem;
  padding:0rem 2rem;
}

.reportContainer p {
  text-align: justify;
}

#formFile {
  display:flex;
  flex-direction: column;
  border:1px var(--colorIconLogoFec) dashed;
  height: 15rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#formFile header {
  color:var(--colorIconLogoFec);
}

#formFile i {
  color:var(--colorIconLogoFec);
}

.fileSection:hover {
  scale: 0.99;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.progress-area {
  display:flex;
  flex-flow: column nowrap;
  gap:0.3rem;
}

.row {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap:2rem;
  background-color: rgb(223, 226, 233);
  border-radius:0.3rem;
  padding:0.5rem;
  transition: .2s ease-in-out;
}

.errorTypeFile {
  color: var(--colorRedStrong);
}

.selected {
  border-left: 5px var(--colorIconLogoFec) solid;
}

#header_section-h1 {
  font-size:1rem;
}
.reportTitle {
  font-size: 1.5rem;
}
.reportTitle, .reportFeedback {
  padding:1rem;
}
.reportContent {
  display:flex;
  flex-flow: row wrap;
}
.glossary {
  margin:auto;
}
.hidden {
  display: none;
}
/* Media Query 400px */
@media (max-width: 400px) {
  .fileSection header {
    display:none;
  }
  .row{
    gap:0.5rem;
  }
  .content .details .name {
    font-size:0.8rem;
  }
}

/* Media Query 600px */
@media (max-width: 600px) {
  .fileSection {
    width:90%;
  }
  .row{
    gap:1rem;
  }
}