.header {
    color:var(--colorRedStrong);
}

.headerSticky {
    position:fixed;
    top:0;
}

.headerHome {
    background-image: url('/homePageHeader.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    animation: fadeInBackground 1s ease-in-out forwards;
}

.headerSection {
    width:100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1rem;
    box-sizing: border-box;
    max-width: 100vw;
    overflow-x: hidden;
}

.headerSection nav {
    padding-right: 3rem;
} 

.headerNavLinkContainer {
    display: flex;
    flex-flow: row nowrap;
    gap:1.5rem;
}

.headerNavLink {
    list-style-type: none;
}

.headerNavLink a {
    font-weight: 500;
    text-decoration: none;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.headerNavLink a:hover {
    color:var(--colorRedDark)
}


.headerHomeTitle {
    font-size: 7rem;
    font-family: 'Caveat', cursive;
    font-weight: 700;
    margin:0;
}

.headerBis {
    background-color: #f1f2f4;
    box-shadow: 0px 4px 3px 0px rgb(125, 93, 93);
}

.scrollLink {
    color:var(--colorRedDark);
    transition: ease-in-out;
}

.headerTitleMobile {
    display:none;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
   
}

@keyframes fadeInBackground {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
/* Media Query 600px */
@media (max-width: 600px) {
    .headerHomeTitle  {
        font-size:5rem;
    }
    .headerTitle {
        font-size:1.2rem;
    }
}
/* Media Query 400px */
@media (max-width: 400px) {

    .headerTitleMobile {
        display:block
    }
    .headerTitle, .headerHomeTitle {
        display:none;
    }
    .headerSection nav {
        padding-right: 0rem;
    }
   
}

@media (max-width: 300px) {
    .headerNavLinkContainer {
        gap: 0.5rem;
    }
}