.header {
    color:var(--colorRedStrong);
    position:sticky;
    top:0;
}

.headerHome {
    background-image: url('/pexels-moose-photos-1587014.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
}

.headerSection {
    width:100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
}

.headerSection nav {
    margin-right: 2rem;
} 

.headerNavLinkContainer {
    display: flex;
    flex-flow: row nowrap;
    gap:1.5rem;
}

.headerNavLink {
    list-style-type: none;
}

.headerNavLink a {
    font-weight: 500;
    text-decoration: none;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.headerNavLink a:hover {
    color:var(--colorRedDark)
}


.headerHomeTitle {
    font-size: 7rem;
    font-family: 'Caveat', cursive;
    font-weight: 700;
    margin:0;
}

.headerTitle {
    font-size:1rem;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    
}

.scrollHeader {
    background-color: #f1f2f4;
    box-shadow: 0px 4px 3px 0px rgb(125, 93, 93);
}

.scrollLink {
    color:var(--colorRedDark);
    transition: ease-in-out;
}