<header [class.headerHome]="isHome">
    <section #header class="headerSection header" [class.headerBis]="!isHome" [class.headerSticky]="!isSafari" >
        <h1 #h1 [ngClass]="{ 'headerHomeTitle': isHome, 'headerTitle':!isHome }" >What the FEC!</h1>
        <h1 class="headerTitleMobile">WTFEC</h1>
        <nav>
            <ul class="headerNavLinkContainer">
                <li class="headerNavLink"><a routerLink="/">Acceuil</a></li>
                <li class="headerNavLink"><a #testingLink routerLink="/testing">Tester mon FEC</a></li>
            </ul>
        </nav>
    </section>
</header>
