
<section class="homeSection">
    <header class="headerHome">
        <h2>Tester votre FEC</h2>
    </header>
    <div class="homeArticleContainer" >
        <article class="homeArticle" *ngFor="let article of articlesHome"> 
            <i class={{article.icon}}></i>
            <h3> {{article.title}} </h3>
            <p> {{article.label}} </p>
        </article>
    </div>
</section>

<section class="homeSection"> 
    <header  class="headerHome">
        <h2>Comment ça marche ?</h2>
    </header>
</section>
