section {
    margin:5rem 0rem;
    text-align: justify;
}
section div, section footer {
    padding: 0rem 2.7rem 4rem 2.7rem;
    margin-bottom:3rem;
}
.homeSection {
    display: flex;
    flex-flow: column nowrap;
}

.headerHome {
    padding: 3rem;
}
.intro h2 {
    text-align: center;
}
.policy h2 {
    color:var(--colorWhite);
    text-align: right;
    margin:auto;
}
.test h2, .policy h3 {
    text-align: left;
    margin:auto;
}

.homeArticleContainer {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap:2rem;
    text-align: center;
    padding:2rem 0rem;
}

.homeArticle {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.4rem;
    width:20rem;
    min-width:13rem;
    height: auto;
    padding: 2rem 1.4rem 3rem 1.4rem;
    border-radius: 0.3rem;
    box-shadow:5px 5px 15px 5px  var(--colorBoxShadow);
}
.homeArticle:nth-child(1) {
    transition-delay: 200ms;
}
.homeArticle:nth-child(2) {
    transition-delay: 400ms;
}
.homeArticle:nth-child(3) {
    transition-delay: 600ms;
}
.homeArticle:hover {
    background-color: var(--colorRedDarkPlus);
    color: var(--colorWhite);
    transition: .2s ease-in-out;
    transform: translateY(-2rem);
}


.homeArticle h3, .homeArticle p {
    line-height: 1.3rem;
}
    

.homeSection h2 {
    font-size: 2rem;
    font-weight: 600;
}

.bx {
    font-size: 2rem;
    color: var(--colorRed);
}

.homeArticle h3 {
    font-size: 1.4rem;
    font-weight: 500;
}
.divColorPolicy {
    background-color: var(--colorBlueDark);
    color:var(--colorWhite);
}
.divColorTest {
    background-color: var(--colorBackground);
    color:var(--colorBlueStrong)
}
.policy h3 {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--colorBlueDark);
    padding:1rem 0rem;
    text-decoration: underline;
}
ul {
    list-style-type: none;
    list-style-position: inside;
}
a {
    color: var(--colorIconLogoFec);
    font-weight:bold;
}
.policy p, ol {
    margin:1rem 0rem;
    list-style-position: inside;
}
.policy .hidden:nth-child(1) {
    transition-delay: 200ms;
}
.policy .hidden:nth-child(2) {
    transition-delay: 400ms;
}
.policy .hidden:nth-child(3) {
    transition-delay: 600ms;
}
.policy .hidden:nth-child(4) {
    transition-delay: 800ms;
}
.policy .hidden:nth-child(5) {
    transition-delay: 1000ms;
}
.policy ul > li, .policy span {
    margin:1rem auto;
}
section .zMargin {
    margin-bottom:0rem;
}
.bold {
    font-weight:500;
}
.hidden, .hidden2 {
    opacity:0;
    filter:blur(5px);
    transition: all 1s;
}
.hidden {
    transform: translateX(-100%);
}
.hidden2 {
    transform: translateX(100%);
}
.show {
    opacity:1;
    filter: blur(0);
    transform:translateX(0);
}
@media (prefers-reduced-motion:reduced) {
    .hidden, .hidden2 {
        transition:none;
    }
}
/* Media Query 781px */
@media (max-width: 781px) {
    .homeArticleContainer {
        flex-flow: row wrap;
    }
}
/* Media Query 630px */
@media (max-width: 630px) {
    .homeArticleContainer {
        flex-flow: column;
        align-items: center;
    }
    .homeArticle {
        width: 60%;
    }
    .homeArticle h3 {
        font-size: 1.1rem;
    }
    .homeArticle p {
        font-size: 0.8rem;
    }
}
/* Media Query 630px */
@media (min-width: 630px) {
    .policy p, .policy li, .policy > div > span, .test p, .test li, .test footer {
        display:block;
        margin-left:auto;
        margin-right:auto;
        max-width:40rem;
    }
    .policy h2, .policy h3, .test h2 {
        max-width:40rem;
    }     
}

